[Unit]
Description=Run random_wallpaper.service periodically

[Timer]
# change wallpaper every even hour
OnCalendar=*-*-* 0/2:00:00
# if the timer is past due (e.g. after sleep) , run it immediately
Persistent=true

[Install]
WantedBy=timers.target