[Unit]
Description=Run random_wallpaper.service periodically

[Timer]
# change wallpaper every thirty minutes (to the hour)
OnCalendar=*:0/30
# if the timer is past due (e.g. after sleep) , run it immediately
Persistent=true

[Install]
WantedBy=timers.target