[Unit]
Description=Grab random wallpaper

[Service]
Environment="DISPLAY=:0"
ExecStartPre=/usr/bin/nm-online --timeout=30
ExecStart=/bin/redrum

[Install]
WantedBy=suspend.target